<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link href="/output.css" rel="stylesheet">  <!-- always use public folder -->
</head>
<body class="font-serif m-2">
    <h3>This Instagram page is belongs to <span class="underline">@<%= dataReq.name %></span></h3>
    
    <p>Followers : <%= dataReq.followers %> &nbsp; <span>Following : <%= dataReq.following %></span></p>

    <p>Posts</p>
    <ul class="flex">
        <%dataReq.posts.forEach((post) => {%>
            <img src="<%= post.image %>" alt="img" class="w-40 h-50 mx-2 ml-0 ">
        <%})%>
    </ul>

</body>

</html>