<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit-Form</title>
  </head>
  <body>
    <form action="/user/edit/<%=data.id%>?_method=PATCH" method="POST">
        <span>ID: <%=data.id%></span>
        <br> <br>
        <label for="01">Username: </label>
        <input type="text" name="username" placeholder="<%=data.username%>" id="01"/>
        <br> <br>
        <label for="02">Password: </label>
        <input type="password" name="password" id="02" placeholder="Enter Password">
        <br> <br>
        <button>Submit</button>
    </form>
  </body>
</html>
