<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>form</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>  
  <form action="http://localhost/form/submit">
    <div>
      <label for="01">name</label>
      <input type="text" id="01">
    </div>
    <div>
      <label for="">number</label>
      <input type="number" minlength="10" maxlength="10">
    </div>
    <div>
      <label for="02">password</label>
      <input type="text" id="01">
    </div>
    <div class="extraEle"></div>
    <button>submit</button>
  </form>
  <button class="addBtn">add</button>
  <script src="/script.js"></script>
</body>
</html>
